<div class="flex flex-wrap min-h-screen bg-gradient-to-tr from-indigo-100 to-blue-200 dark:from-gray-900 dark:to-gray-800">
  <!-- Lado izquierdo: texto -->
  <div class="w-full sm:w-8/12 mb-10">
    <div class="container mx-auto h-full sm:p-10">
      
      <!-- Navbar -->
      <nav class="flex px-4 justify-between items-center">
        <div class="text-4xl font-bold text-indigo-800 dark:text-white">
          Ald-<span class="text-indigo-600">Task</span>
        </div>
      </nav>

      <!-- Encabezado principal -->
      <header class="container px-4 lg:flex mt-10 items-center h-full lg:mt-0">
        <div class="w-full">
          <h1 class="text-4xl lg:text-6xl font-bold text-indigo-800 dark:text-white">
            Organiza tus <span class="text-indigo-600">tareas</span> fácilmente
          </h1>
          <div class="w-20 h-2 bg-indigo-600 my-4"></div>
          <p class="text-lg text-gray-800 dark:text-gray-300 mb-10">
            TaskFlow es tu aliado para mantener el control de tus pendientes diarios. Rápido, intuitivo y minimalista. ✔️
          </p>
          <button class="bg-indigo-600 text-white text-xl font-medium px-6 py-3 rounded shadow hover:bg-indigo-500 transition">
            Empezar ahora
          </button>
        </div>
      </header>
    </div>
  </div>

  <!-- Lado derecho: imagen -->
  <img src="https://i.postimg.cc/CKMwht0J/foto.avif" alt="Gestión de Tareas" class="w-full h-48 object-cover sm:h-screen sm:w-4/12">
</div>
