<nav class="bg-white border-b border-indigo-200 dark:bg-gray-900 dark:border-gray-700 shadow-sm">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto px-4 py-3">

        <!-- Logo y nombre -->
        <a href="#" class="flex items-center space-x-2">
            <img src="https://i.postimg.cc/j57zPqLB/unnamed.png" class="h-8 sm:h-10" alt="Logo" />
            <span class="text-2xl font-bold text-indigo-700 dark:text-white">Ald-Task</span>
        </a>

        <!-- Menú de navegación -->
        <div class="items-center justify-between w-full lg:flex lg:w-auto lg:order-1 hidden" id="mobile-menu-2">
            <ul class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0">
                <li>
                    <a routerLink="home"
                        class="block py-2 pl-3 pr-4 text-white bg-indigo-700 rounded lg:bg-transparent lg:text-indigo-700 lg:p-0 dark:text-white lg:dark:text-indigo-400">
                        Inicio
                    </a>
                </li>
                <li>
                    <a routerLink="tareas"
                        class="block py-2 pl-3 pr-4 text-gray-700 hover:text-indigo-700 lg:p-0 dark:text-gray-300 dark:hover:text-indigo-400">
                        Crear Tarea
                    </a>
                </li>
                <li>
                    <a routerLink="lista-tareas"
                        class="block py-2 pl-3 pr-4 text-gray-700 hover:text-indigo-700 lg:p-0 dark:text-gray-300 dark:hover:text-indigo-400">
                        Lista Tareas
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>